In [49]:
import pandas as pd
import numpy as np
df_des = pd.read_csv("df_des.csv")
df_perf = pd.read_csv("df_perf.csv")
df_query_perf = pd.read_csv("df_query_perf.csv")

### I.PART

In [50]:
df_query_perf["conversion_rate"] = df_query_perf["orders"] / df_query_perf["hits"]

In [51]:
df_query_perf.loc[df_query_perf.clicks == 0]  # lets drop this query, because it includes a wrong value.

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate
2,gingham in green and white,601,0,0,0.0,0,0,0.0

In [52]:
df_query_perf.drop(2, inplace = True)

In [53]:
df_query_perf.reset_index(drop= True)
df_query_perf.head()

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate
0,pink,3971,330,93,2.34,18,0,0.000000
1,Chambray,612,1360,447,73.04,145,8,0.013072
3,white dresses,486,800,310,63.79,73,1,0.002058
4,grey,480,89,28,5.83,10,0,0.000000
5,grey dress,435,65,29,6.67,7,0,0.000000

In [54]:
df_query_perf["add_cart_to_exit_rate"] = (df_query_perf.carts- df_query_perf.orders) / (df_query_perf.carts)
df_query_perf.fillna(0, inplace = True)

In [55]:
df_query_perf.head()

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate,add_cart_to_exit_rate
0,pink,3971,330,93,2.34,18,0,0.000000,1.000000
1,Chambray,612,1360,447,73.04,145,8,0.013072,0.944828
3,white dresses,486,800,310,63.79,73,1,0.002058,0.986301
4,grey,480,89,28,5.83,10,0,0.000000,1.000000
5,grey dress,435,65,29,6.67,7,0,0.000000,1.000000

Let's sort the dataframe by conversion rates. Nevertheless of the order, we should be aware of low hits. Even though they have high conversion rate, that does not mean they are reliable sources. What they lack is having a small amount of instances in our dataframe. Therefore, we should look conversion rate in 2 different aspects. 
At glance, let's start with basic one.

In [57]:
df_query_perf.sort_values("conversion_rate", ascending = False, inplace = True)

In [66]:
df_query_perf[:10]   # This 10 queries have really conversion rates. But are they reliable?

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate,add_cart_to_exit_rate
265,Sash waist chambray dress-Indigo,24,73,11,45.83,28,7,0.291667,0.750000
340,Chevron stripe colorblock dress-Spring green/b...,20,52,16,80.00,33,5,0.250000,0.848485
334,Grecian,20,30,13,65.00,18,5,0.250000,0.722222
485,\tCitron floral print dress,14,18,11,78.57,5,3,0.214286,0.400000
392,clearance,18,42,11,61.11,16,3,0.166667,0.812500
465,Cotton poplin A-line shirtdress,15,50,14,93.33,4,2,0.133333,0.500000
449,Curve waist,15,22,10,66.67,6,2,0.133333,0.666667
292,plus size tops,23,52,11,47.83,36,3,0.130435,0.916667
277,CL0032653,24,18,13,54.17,12,3,0.125000,0.750000
258,fit and flare dresses,25,66,17,68.00,13,3,0.120000,0.769231

In [65]:
df_query_perf.tail(10)  # These 10 unique queries have the lowest conversion rates comparing to the dataframe. 
# But same question applies again in here, are they reliable?

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate,add_cart_to_exit_rate
412,cherry,17,7,5,29.41,0,0,0.0,0.0
413,Light blue,16,16,12,75.00,0,0,0.0,0.0
416,Embellished floral organza dress-Off-white/aqua,16,20,4,25.00,2,0,0.0,1.0
442,Grace dress-Deep blue,15,62,5,33.33,5,0,0.0,1.0
443,tie neck dresses,15,32,11,73.33,2,0,0.0,1.0
445,pineapple,15,7,7,46.67,5,0,0.0,1.0
478,Taffeta trim stretch crepe maxi dress-Black,14,33,6,42.86,6,0,0.0,1.0
479,toga,14,17,10,71.43,2,0,0.0,1.0
480,Alexandra,14,49,11,78.57,8,0,0.0,1.0
499,watercolor,14,27,9,64.29,0,0,0.0,0.0

In [71]:
df_query_perf.conversion_rate.mean()

0.013069813763609626

Now lets look at some queries with at least have 60 ( df_query_perf.hits.mean() ) clicks

In [73]:
df_query_perf.loc[(df_query_perf.hits > 60)][:10]

#Without a doubt, these rows are more reliable than the others. 
#So Havana Dresses are basically the query that has most conversion rate! We should definitely focus more on these items!

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate,add_cart_to_exit_rate
65,Havana Dresses,89,309,71,79.78,32,6,0.067416,0.812500
98,Chevron stripe colorblock maxi dress-Juniper g...,63,122,31,49.21,23,3,0.047619,0.869565
95,Grace dress\t,65,154,46,70.77,22,3,0.046154,0.863636
51,Amelia,116,209,84,72.41,31,5,0.043103,0.838710
80,blazers,77,145,36,46.75,32,3,0.038961,0.906250
42,Plaid,141,165,47,33.33,23,5,0.035461,0.782609
41,wrap,141,310,86,60.99,47,5,0.035461,0.893617
6,",maxi",378,888,286,75.66,117,13,0.034392,0.888889
64,Denim dresses,89,125,60,67.42,16,3,0.033708,0.812500
97,Cotton knit fit and flare dress,64,112,40,62.50,15,2,0.031250,0.866667

Now lets look at last 10 queries that have worst conversion rates

In [77]:
df_query_perf.loc[(df_query_perf.hits > 60)].tail(10)
#This queries have the lowest conversion rates. So we should focus on improving these queries to gain more conversions.

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate,add_cart_to_exit_rate
54,knit dresses,112,318,80,71.43,55,0,0.0,1.0
56,Seersucker,106,211,51,48.11,3,0,0.0,1.0
57,Anchors,101,146,71,70.30,16,0,0.0,1.0
58,Colorblock,101,200,64,63.37,37,0,0.0,1.0
59,Chiffon,98,178,64,65.31,16,0,0.0,1.0
60,Silk,94,212,55,58.51,14,0,0.0,1.0
66,orange,89,146,44,49.44,4,0,0.0,1.0
68,Virginia,87,163,58,66.67,32,0,0.0,1.0
50,Teal dresses,122,25,13,10.66,2,0,0.0,1.0
0,pink,3971,330,93,2.34,18,0,0.0,1.0

Defining a bounce rate

In [80]:
df_query_perf.loc[df_query_perf.clicks > df_query_perf.hits + 100]

# Even though this rows have more clicks, their hit numbers are really low. We can say that probably their bounce rate is very high.
# Some users will probably just click 3-4 fields and leave it like that. 
# Our focus must be on improving the site and UX for reducing the bounce ratio.

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate,add_cart_to_exit_rate
117,Denim chambray dresses,51,170,43,84.31,74,5,0.098039,0.932432
196,Cotton poplin A-line shirtdress-Black,34,139,16,47.06,14,3,0.088235,0.785714
65,Havana Dresses,89,309,71,79.78,32,6,0.067416,0.812500
190,Amelia dress,35,189,23,65.71,1,2,0.057143,-1.000000
148,Spandex,43,162,29,67.44,31,2,0.046512,0.935484
...,...,...,...,...,...,...,...,...,...
56,Seersucker,106,211,51,48.11,3,0,0.000000,1.000000
143,Seagull print pleated cotton knit dress-Light ...,44,197,15,34.09,16,0,0.000000,1.000000
60,Silk,94,212,55,58.51,14,0,0.000000,1.000000
343,Keyhole,20,226,14,70.00,2,0,0.000000,1.000000
383,Bohemian,18,140,17,94.44,168,0,0.000000,1.000000

Now lets focus on CTR, lets see first 10 rows that have higher CT rate.

In [83]:
df_query_perf.sort_values("ctr", ascending = False)[:10]

# Basically dresses are taking the lead! ( VICTORIA Secret is 1st place ofcourse)
# But even though their CT rates are high, the add_cart_to_exit_rate is still too big. Therefore we can say that these users just want to check,
# because of the ad's attractiveness.

,query,hits,clicks,clickThroughs,ctr,carts,orders,conversion_rate,add_cart_to_exit_rate
357,VICTORIA DRESS,19,41,19,100.00,9,1,0.052632,0.888889
424,"""contrast trim poplin dress""",16,48,16,100.00,16,0,0.000000,1.000000
237,retro dresses,27,58,26,96.30,0,0,0.000000,0.000000
350,Little Black Dress,19,51,18,94.74,0,0,0.000000,0.000000
383,Bohemian,18,140,17,94.44,168,0,0.000000,1.000000
465,Cotton poplin A-line shirtdress,15,50,14,93.33,4,2,0.133333,0.500000
163,stretch,40,174,37,92.50,23,1,0.025000,0.956522
93,empire waist,66,276,61,92.42,26,1,0.015152,0.961538
365,Parrot,19,65,17,89.47,4,0,0.000000,1.000000
382,black tops,18,34,16,88.89,8,0,0.000000,1.000000

### II.PART

In [86]:
df_des.head()

,PID,Product Name,Category,Final Price,Initial Price,Color,Primary Color,Fabric
0,CL0036386,Ikat stripe print cotton knit dress,Dress,84.95,33.95,Blue/navy/white,Blue,Cotton Spandex
1,CL0030567,Feminine pleated knit dress,Dress,59.95,41.95,Navy blue,Navy blue,Cotton Spandex
2,CL0032320,Floral embellished chambray denim maxi dress,Dress,96.95,67.95,Deep indigo,Deep indigo,Cotton
3,CL0036700,Dot print cap sleeve shirt,Top,49.95,19.95,White/navy,White,Cotton
4,CL0036365,Layered asymmetric hem hacci knit top,Top,69.95,27.95,Blue,Blue,Polyester

In [87]:
df_des.isna().any()

PID              False
Product Name     False
Category         False
Final Price      False
Initial Price    False
Color            False
Primary Color    False
Fabric           False
dtype: bool

In [90]:
df_des.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PID            716 non-null    object
 1   Product Name   716 non-null    object
 2   Category       716 non-null    object
 3   Final Price    716 non-null    float64
 4   Initial Price  716 non-null    float64
 5   Color          716 non-null    object
 6   Primary Color  716 non-null    object
 7   Fabric         716 non-null    object
dtypes: float64(2), object(6)
memory usage: 44.9+ KB

In [92]:
df_perf

            pId                                  pName  clicks  carts  orders
0     CL0034516   Chevron stripe colorblock maxi dress   29144   2181     204
1     CL0037085   Chevron stripe colorblock maxi dress   25892    237      70
2     CL0036758   Bird print pleated cotton knit dress   16343    340      97
3     CL0032310        Cotton knit fit and flare dress   16234    350      99
4     CL0037110  Pleat front chambray denim maxi dress   13317    229      56
...         ...                                    ...     ...    ...     ...
2496  CL0036376                               Name N/A       0      0       1
2497  CL0035627        Heart print cotton A-line dress       0      0       1
2498  GC0000202                               Name N/A       0      0       5
2499  GC0000204                               Name N/A       0      0       7
2500  GC0000205                               Name N/A       0      0      11

[2501 rows x 5 columns]

In [101]:
df_perf.rename(columns = {'pId' : "PID"}, inplace =True)

Merging 2 dataframes

In [107]:
df = pd.merge(df_des, df_perf, on = "PID")

In [109]:
df.drop(["Final Price", "Initial Price"], 1, inplace = True)

C:\Users\ANALYT~1\AppData\Local\Temp/ipykernel_51500/4068939084.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(["Final Price", "Initial Price"], 1, inplace = True)

In [112]:
df.head(5)

,PID,Product Name,Category,Color,Primary Color,Fabric,pName,clicks,carts,orders
0,CL0036386,Ikat stripe print cotton knit dress,Dress,Blue/navy/white,Blue,Cotton Spandex,Ikat stripe print cotton knit dress,1846,43,15
1,CL0030567,Feminine pleated knit dress,Dress,Navy blue,Navy blue,Cotton Spandex,Feminine pleated knit dress,6882,242,56
2,CL0032320,Floral embellished chambray denim maxi dress,Dress,Deep indigo,Deep indigo,Cotton,Floral embellished chambray denim maxi dress,10680,72,27
3,CL0036700,Dot print cap sleeve shirt,Top,White/navy,White,Cotton,Dot print cap sleeve shirt,2051,59,24
4,CL0036365,Layered asymmetric hem hacci knit top,Top,Blue,Blue,Polyester,Layered asymmetric hem hacci knit top,4630,123,50

Lets groupby categories and find order counts

In [115]:
df["category_order_mean"] = df.groupby("Category")["orders"].transform("mean")  #encoded

In [118]:
df["category_clicks_mean"] = df.groupby("Category")["clicks"].transform("mean")

In [120]:
df["cart_to_conversion"] = (df.carts - df.orders) / df.carts

In [123]:
df["category_cart_to_conversion_mean"] = df.groupby("Category")["cart_to_conversion"].transform("mean")

In [138]:
df.isna().any()

PID                                 False
Product Name                        False
Category                            False
Color                               False
Primary Color                       False
Fabric                              False
pName                               False
clicks                              False
carts                               False
orders                              False
category_order_mean                 False
category_clicks_mean                False
cart_to_conversion                   True
category_cart_to_conversion_mean     True
dtype: bool

In [139]:
df.loc[df.cart_to_conversion.isnull()]

,PID,Product Name,Category,Color,Primary Color,Fabric,pName,clicks,carts,orders,category_order_mean,category_clicks_mean,cart_to_conversion,category_cart_to_conversion_mean
342,CL0036094,Graphic print knit pants,Pant,Navy/orange,Navy,Polyester,Graphic print knit pants,534,0,0,3.020408,472.857143,NaN,NaN
347,CL0035390,Asymmetric popover crepe dress,Dress,Off-white,Off-white,Polyester Spandex,Asymmetric popover crepe dress,496,0,0,9.324766,1678.658879,NaN,NaN
385,CL0036041,Split neck lace sheath dress,Dress,Ivory,Ivory,Silk,Split neck lace sheath dress,241,0,0,9.324766,1678.658879,NaN,NaN
392,CL0037002,Leaf print crepe sash tie shift dress,Dress,Off-white/blue multi,Off-white,Polyester Crepe de Chine,Leaf print crepe sash tie shift dress,399,0,0,9.324766,1678.658879,NaN,NaN
400,CL0033808,Embellished ponte knit pencil skirt,Skirt,Black/lavender,Black,Rayon Nylon Spandex,Embellished ponte knit pencil skirt,173,0,0,5.500000,771.083333,NaN,0.73007
403,CL0035113,Sequin chiffon trumpet gown,Dress,Ivory,Ivory,Polyester,Sequin chiffon trumpet gown,1103,0,0,9.324766,1678.658879,NaN,NaN
470,CL0035731,Pleat waist tailored shorts,Pant,Beige,Beige,Polyester Spandex,Pleat waist tailored shorts,179,0,0,3.020408,472.857143,NaN,NaN
488,CL0035921,Elastic waist bermuda shorts,Pant,Khaki,Khaki,Rayon Polyester Spandex,Elastic waist bermuda shorts,224,0,0,3.020408,472.857143,NaN,NaN
494,CL0037050,Scallop dress,Dress,Surf blue,Surf blue,Cotton,Scallop dress,349,0,0,9.324766,1678.658879,NaN,NaN
515,CL0036023,Embellished waist ruched tulle gown,Dress,Off-white,Off-white,Polyester,Embellished waist ruched tulle gown,2532,0,0,9.324766,1678.658879,NaN,NaN
541,CL0036999,Watercolor splash print crepe maxi skirt,Skirt,Off-white/blue multi,Off-white,Polyester Crepe de Chine,Watercolor splash print crepe maxi skirt,408,0,0,5.500000,771.083333,NaN,0.73007
559,CL0036272,Olivia dress,Dress,Khaki,Khaki,Cotton,Olivia dress,30,0,0,9.324766,1678.658879,NaN,NaN
619,CL0036832,Strapless floral embroidered lace sheath,Dress,Sunset yellow,Sunset yellow,Polyester,Strapless floral embroidered lace sheath,430,0,0,9.324766,1678.658879,NaN,NaN
640,CL0036039,Floral lace strapless mermaid dress,Dress,Off-white,Off-white,Nylon,Floral lace strapless mermaid dress,1153,0,0,9.324766,1678.658879,NaN,NaN
690,CL0036635,Floral embellished tulle strapless gown,Dress,Ivory,Ivory,Cotton Polyester,Floral embellished tulle strapless gown,446,0,0,9.324766,1678.658879,NaN,NaN
691,CL0037165,Cutout back jersey knit gown,Dress,Coral,Coral,Viscose Spandex,Cutout back jersey knit gown,1160,0,0,9.324766,1678.658879,NaN,NaN
692,CL0036944,Silk dupioni strapless wedding dress,Dress,Off-white,Off-white,Silk,Silk dupioni strapless wedding dress,1072,0,0,9.324766,1678.658879,NaN,NaN
696,CL0036066,Fluted crepe back satin silk dress,Dress,Off-white,Off-white,Silk,Fluted crepe back satin silk dress,2005,0,0,9.324766,1678.658879,NaN,NaN

In [140]:
df.cart_to_conversion.fillna(0, inplace = True)
df.category_cart_to_conversion_mean.fillna(0, inplace = True)

# Because they dont even have any conversions!

lets see which words used most in the dataset

In [134]:
df['Product Name'].str.split(expand=True).stack().value_counts()[:10]

dress          365
print          173
knit           145
cotton         144
Floral         113
skirt           71
poplin          67
crepe           65
top             64
embellished     63
dtype: int64

In [133]:
df["Category"].value_counts()[:6]

 Dress       428
 Top         147
 Skirt        72
 Pant         49
 Jumpsuit     11
 Jacket        9
Name: Category, dtype: int64

In [132]:
df["Color"].value_counts()[:6]

 Black           39
 Deep navy       23
 Deep indigo     21
 Black/white     18
 Black multi     17
 Spring green    16
Name: Color, dtype: int64

In [130]:
df["Primary Color"].value_counts()[:6]

 Black           100
 White            59
 Off-white        56
 Deep navy        44
 Deep indigo      29
 Spring green     23
Name: Primary Color, dtype: int64

In [136]:
df["Fabric"].value_counts()[:6]

 Cotton                      263
 Cotton Spandex              139
 Polyester                   104
 Polyester Crepe de Chine     43
 Polyester Spandex            32
 Viscose Spandex              20
Name: Fabric, dtype: int64

"Black", "White", "Dress", "Cotton" related stuff, "Polyester", "print", "knit" are basicaly the features that have high frequency in dataframe. Therefore focusing on them and making some remarketing projects will be beneficial.

In [137]:
df

,PID,Product Name,Category,Color,Primary Color,Fabric,pName,clicks,carts,orders,category_order_mean,category_clicks_mean,cart_to_conversion,category_cart_to_conversion_mean
0,CL0036386,Ikat stripe print cotton knit dress,Dress,Blue/navy/white,Blue,Cotton Spandex,Ikat stripe print cotton knit dress,1846,43,15,9.324766,1678.658879,0.651163,NaN
1,CL0030567,Feminine pleated knit dress,Dress,Navy blue,Navy blue,Cotton Spandex,Feminine pleated knit dress,6882,242,56,9.324766,1678.658879,0.768595,NaN
2,CL0032320,Floral embellished chambray denim maxi dress,Dress,Deep indigo,Deep indigo,Cotton,Floral embellished chambray denim maxi dress,10680,72,27,9.324766,1678.658879,0.625000,NaN
3,CL0036700,Dot print cap sleeve shirt,Top,White/navy,White,Cotton,Dot print cap sleeve shirt,2051,59,24,4.768707,557.877551,0.593220,NaN
4,CL0036365,Layered asymmetric hem hacci knit top,Top,Blue,Blue,Polyester,Layered asymmetric hem hacci knit top,4630,123,50,4.768707,557.877551,0.593496,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,CL0031288,Ruffle front poplin dress,Dress,Spring green,Spring green,Cotton,Ruffle front poplin dress,62,8,0,9.324766,1678.658879,1.000000,NaN
712,CL0032199,Beaded cotton poplin sheath dress,Dress,Spring green,Spring green,Cotton,Beaded cotton poplin sheath dress,380,4,0,9.324766,1678.658879,1.000000,NaN
713,CL0031267,Embellished stripe waist poplin dress,Dress,Spring green multi,Spring green multi,Cotton,Embellished stripe waist poplin dress,175,16,2,9.324766,1678.658879,0.875000,NaN
714,CL0031287,Sash waist poplin skirt,Skirt,Spring green,Spring green,Cotton,Sash waist poplin skirt,108,15,0,5.500000,771.083333,1.000000,0.73007
715,CL0031947,Colorblock retro poplin frock,Dress,Black/spring green,Black,Cotton,Colorblock retro poplin frock,2774,102,24,9.324766,1678.658879,0.764706,NaN